.cards {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 20px 35px 50px 16px;
  white-space: nowrap;
  max-width: 1070px;
  mask: linear-gradient(to right, transparent, red 5%, red 95%, transparent);
}

.cards::-webkit-scrollbar {
  display: none;
}

.cards::-webkit-scrollbar-track {
  background-color: #5d5d5d;
  border-radius: 8px;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #ffbb11;
  border-radius: 8px;
}

.card {
  background: #535252;
  width: 27rem;
  border-radius: 25px;
  margin: 25px 2px 0px 25px;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card:hover {
  box-shadow: 1px 1px 2px 2px rgba(250, 183, 36, 0.9);
  cursor: pointer;
  transition: 0.5s;
}

.icon img {
  position: absolute;
  width: 80px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: -40px;
}

.box {
  padding: 20px 21px 0px 20px;
  text-align: center;
  width: max-content;
}

@media (max-width: 40rem) {
  .cards {
    max-width: 555px;
  }
}

@media (max-width: 28rem) {
  .cards {
    max-width: 330px;
    padding: 16px 20px 50px 10px;
  }

  .card {
    width: 15rem;
  }

  .box {
    margin-top: 1rem;
  }
}
