.card {
  padding: 5px;
  border-radius: 28px;
}
.titulo {
  font-size: 20px;
  margin-top: 26px;
  font-weight: 400;
}

.description1 {
  margin-left: 21px;
  font-size: 16px;
  font-weight: 300;
  color: #cecece;
  max-width: 900px;
}

.finaly {
  max-width: 900px;
  font-size: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
