.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 20px;
}
.card {
  background: #535252;
  width: 25rem;
  /* height: 8rem; */
  border-radius: 25px;
  display: flex;
  gap: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon {
  margin: 15px;
}
