.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 20px;
}
.card {
  background: #535252;
  width: 29.5rem;
  border-radius: 25px;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon {
  margin: 15px;
}

@media (max-width: 75rem) {
  .card {
    width: 26.5rem;
  }
}

@media (max-width: 28rem) {
  .card {
    width: 17.4rem;
  }
}
