.nomeclature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.box {
  margin-left: 3.6rem;
  position: relative;
}

.box::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 72%;
  background: #737373;
  margin: -39px;
  top: 36px;
}

.box ul li {
  list-style: none;
}

.box ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  margin-top: 6px;
  border-radius: 50%;
  background: #f6dc43;
  margin-left: -44px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}

.date {
  margin: 3px 0px 3px 0px;
}

@media (max-width: 75rem) {
  .align {
    width: 370px;
  }

  .box::before {
    height: 64%;
  }
}

@media (max-width: 40rem) {
  .align {
    width: 240px;
    font-size: 14px;
  }

  .box::before {
    height: 63.2%;
    top: 30px;
  }
}
