form {
  display: block;
  text-align: -webkit-right;
  margin-top: 15px;
  width: 90%;
}

.namesForm {
  display: flex;
  gap: 35px;
}

input,
textarea {
  width: 100%;
  border-radius: 8px;
  border: solid 1px #fff;
  background: #545454;
  padding: 1rem;
  margin-top: 30px;
  font-size: 16px;
  letter-spacing: 2px;
  transition: 0.9s;
}

input::placeholder,
textarea::placeholder {
  color: #dfdfdf;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #000;
  color: #000;
  background: white;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-size: 18px;
  font-weight: 600;
  color: #fb1;
  background: #5d5d5d;
  padding: 12px;
  margin-top: 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 226px;
  transition: 0.3s;
}

button:hover {
  background: #474747;
  color: #b4b4b3;
  box-shadow: 0 0 0 1px #fff;
}

@media (max-width: 28rem) {
  form {
    width: 95%;
  }

  .namesForm {
    display: block;
  }

  input,
  textarea {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
  }

  button {
    width: 100%;
    margin-top: 15px;
  }
}
