.card {
  padding: 5px;
  border-radius: 28px;
}
.titulo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  margin-top: 26px;
  font-weight: 400;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.description1 {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #acacac;
  max-width: 900px;
}

.finaly {
  max-width: 930px;
  font-size: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 2px 2px 7px 1px rgba(1, 1, 1, 1.2);
  padding: 15px;
  border-radius: 16px;
  color: #57ad2c;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.finaly:hover {
  transition: 0.9s;
  box-shadow: 1px 1px 2px 3px #c88e00;
}

@media (max-width: 75rem) {
  .titulo {
    font-size: 16px;
    margin-top: 15px;
  }

  .description1 {
    max-width: 420px;
  }

  .finaly {
    max-width: 445px;
  }
}

@media (max-width: 28rem) {
  .subtitle {
    font-size: 15px;
    width: 320px;
  }

  .description1 {
    font-size: 14px;
    max-width: 275px;
  }

  .finaly {
    max-width: 310px;
    font-size: 14px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

form {
  display: block;
  margin-top: 32px;
  margin-bottom: 50px;
  max-width: 95%;
  background: #5d5d5d;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 2px 2px 7px 1px rgba(1, 1, 1, 1.2);
  cursor: pointer;
}

form:hover {
  box-shadow: 2px 2px 7px 1px #fff;
}

.namesForm {
  display: flex;
  gap: 35px;
}

input,
textarea {
  width: 100%;
  border-radius: 8px;
  border: solid 1px #fff;
  background: #545454;
  padding: 1rem;
  margin-bottom: 30px;
  transition: 0.5s;
}

input {
  font-size: 16px;
  letter-spacing: 2px;
}

textarea {
  font-size: 20px;
  resize: none;
  min-height: 320px;
}

input::placeholder,
textarea::placeholder {
  color: #dfdfdf;
  letter-spacing: 2px;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #000;
  color: #000;
  background: white;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-size: 18px;
  font-weight: 600;
  color: #fb1;
  background: #454545;
  padding: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
}

button:hover {
  background: #707070;
}

@media (max-width: 28rem) {
  .namesForm {
    display: block;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
  }

  input,
  textarea {
    margin-bottom: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 14px;
  }

  textarea {
    max-width: 250px;
  }

  button {
    width: 100%;
    font-size: 14px;
  }
}
