.fullCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 1.5rem;
}

.card {
  position: relative;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  width: 300px;
  height: 220px;
  border-radius: 18px;
  transition: 0.6s ease transform;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.7s ease;
  opacity: 0;
  display: grid;
  align-items: center;
}

.overlay .overlayName {
  text-align: center;
  display: grid;
  grid-area: 1/1;
  align-items: center;
  justify-content: center;
}

.card:hover .image {
  transform: scale(1.1);
}

.overlayName a {
  font-size: 1.4rem;
  font-weight: bold;
}

.overlayName span img {
  width: 20px;
  margin-top: 3px;
  opacity: 0.3;
}

.subTitles {
  display: grid;
  margin-left: 10px;
}

.description {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
  color: #cecece;
}

.icon img {
  margin-right: 5px;
}

.card:hover .overlay {
  opacity: 1;
}

@media (max-width: 75rem) {
  .fullCards {
    gap: 50px;
  }

  .card {
    margin-top: 0;
  }

  .card img {
    width: 430px;
    height: 260px;
  }

  .overlayName span img {
    display: none;
  }
}

@media (max-width: 40rem) {
  .card img {
    width: 280px;
    height: 210px;
  }
}
