.cards {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  /* gap: 20px; */
  padding: 20px;
  margin-left: -2rem;
  white-space: nowrap;
  max-width: 915px;
  mask: linear-gradient(to right, transparent, red 15%, red 85%, transparent);
}

.cards::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

.cards::-webkit-scrollbar-track {
  background-color: #5d5d5d;
  border-radius: 8px;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #e9cb26;
  border-radius: 8px;
}

.card {
  background: #5d5d5d;
  width: 22rem;
  border-radius: 25px;
  margin: 0px 2px 0px 90px;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.icon {
  position: absolute;
  margin: 15px;
}

.box {
  padding: 20px;
  text-align: center;
  width: max-content;
}
