.titulo {
  margin-left: 20px;
  color: #fb1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 20px 0px 50px 0px;
  background: #5d5d5d;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 2px 2px 7px 1px rgba(1, 1, 1, 1.2);
  max-width: 940px;
  min-height: 350px;
}

.content {
  margin-left: 10px;
}

.content p {
  max-width: 460px;
  margin-top: 10px;
}

.content a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-weight: 200;
  color: #cecece;
}

.cards img {
  max-width: 405px;
  border-radius: 15px;
  box-shadow: 0 0 0 9 #fff;
}

@media (max-width: 75rem) {
  .cards {
    width: 435px;
  }
}

@media (max-width: 40rem) {
  .titulo {
    margin-top: 3rem;
  }

  .cards {
    width: 310px;
    margin-top: 20px;
  }

  .cards img {
    max-width: 280px;
  }

  .content p,
  a {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
}
