.side_card {
  background-color: #474747;
  width: 21.5rem;
  height: auto;
  box-shadow: 2px 2px 7px 1px rgba(1, 1, 1, 1.2);
  border-radius: 8px;
  position: sticky;
  top: 0;
  left: 0;
}

.header {
  display: block;
  text-align: center;
}

.header img {
  margin-top: 2rem;
  width: 8rem;
  border-radius: 50%;
}

.header h3 {
  font-size: 1.25rem;
  padding: 1rem;
}

.side_card div h6 {
  display: inline-flex;
  margin: 10px;
  background: #535252;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.5s;
  font-weight: 600;
  letter-spacing: 2px;
  color: #a7a7a7;
  font-size: 0.7rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.side_card div h6:hover {
  box-shadow: 1px 1px 2px 2px rgba(250, 183, 36, 0.9);
  cursor: pointer;
  color: #fff;
}

.header span {
  content: '';
  max-width: 16rem;
  height: 2px;
  display: block;
  margin: 0 auto;
  background: #535252;
  border-radius: 8px;
  margin: 1.5rem 0px 1.5rem 2.8rem;
}

.infos {
  display: flex;
  margin: 10px 45px;
  align-items: center;
  gap: 12px;
}

.icon {
  display: inline-flex;
  background: #535252;
  padding: 5px 10px;
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon:hover {
  box-shadow: 1px 1px 2px 2px rgba(250, 183, 36, 0.9);
  cursor: pointer;
}

.midias {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* transition: 5s; */
}

.midias img {
  opacity: 0.2;
}

.midias img:hover {
  cursor: pointer;
  opacity: 1;
}

@media (max-width: 28rem) {
  .infos {
    display: none;
  }

  .midias {
    padding: 1.2rem 0;
  }
}
