.side_card {
  background-color: #474747;
  width: 250px;
  height: 38rem;
  border: solid 2px #fff;
  border-radius: 8px;
  position: sticky;
  top: 0;
  left: 0;
}

.header {
  display: block;
  text-align: center;
}

.header img {
  margin-top: 2.5rem;
  width: 6rem;
  border-radius: 50%;
}

.header h3 {
  font-size: 1.25rem;
  padding: 1rem;
}

button {
  background: #9f9f9f;
  padding: 7px 10px;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header span {
  content: '';
  max-width: 13rem;
  height: 2px;
  display: block;
  margin: 0 auto;
  background: #787878;
  border-radius: 8px;
  margin-top: 1.5rem;
}

.infos {
  display: flex;
  margin-left: 20px;
  align-items: center;
  margin-top: 1rem;
  gap: 8px;
}

/* detalhe */
.icon {
  background: #787878;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos_name h4 {
  font-size: 14px;
  font-weight: bold;
}

.infos_name p {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.midias {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.midias img:hover {
  color: #0098da;
  transform: scale(1.5);
}
