.side_card {
  background-color: #474747;
  width: 21.5rem;
  height: auto;
  box-shadow: 2px 2px 7px 1px rgba(1, 1, 1, 1.2);
  border-radius: 8px;
  position: sticky;
  top: 0;
  left: 0;
}

.header {
  display: block;
  text-align: center;
}

.header img {
  margin-top: 2rem;
  width: 8rem;
  border-radius: 50%;
}

.header h3 {
  font-size: 1.25rem;
  padding: 1rem;
}

.header h6 {
  display: inline-flex;
  margin: 10px;
  background: #535252;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.5s;
  font-weight: 600;
  letter-spacing: 2px;
  color: #a7a7a7;
  font-size: 0.7rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.header h6:hover {
  box-shadow: 1px 1px 2px 2px rgba(250, 183, 36, 0.9);
  cursor: pointer;
  color: #fff;
}

.header span {
  content: '';
  max-width: 16rem;
  height: 2px;
  display: block;
  margin: 0 auto;
  background: #696666;
  box-shadow: 0px 0px 2px 0px #000;
  border-radius: 10px;
  margin: 2.5rem 0px 2.5rem 3rem;
}

.infos {
  display: flex;
  margin: 15px 50px;
  align-items: center;
  gap: 15px;
}

.icon {
  display: inline-flex;
  background: #535252;
  padding: 4px;
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon:hover {
  box-shadow: 1px 1px 2px 2px rgba(250, 183, 36, 0.9);
  cursor: pointer;
}

.midias {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.midias img {
  opacity: 0.2;
  cursor: pointer;
  transition: 0.9s ease transform;
  width: 30px;
}

.midias img:hover {
  opacity: 1;
  transform: scale(1.3);
}
@media (max-width: 28rem) {
  .header span {
    margin: 2rem 0px 2rem 3rem;
  }
}
/* 
  .header {
    display: flex;
    margin: 0px 10px;
    justify-content: space-around;
    align-items: center;
  }

  .header img {
    width: 5rem;
    margin-top: 15px;
  }

  .header h6 {
    display: none;
  }

  .infos {
    display: none;
  }


  .midias {
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    margin-right: 15px;
    margin-top: -40px;
  }

  .midias img {
    width: 25px;
  }
} */
