.card {
  padding: 5px;
  border-radius: 28px;
}
.titulo {
  font-size: 20px;
  margin-top: 26px;
  font-weight: 400;
}

.description1 {
  margin-left: 21px;
  font-size: 16px;
  font-weight: 300;
  color: #cecece;
  max-width: 900px;
}

.finaly {
  max-width: 930px;
  font-size: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 2px 2px 7px 1px rgba(1, 1, 1, 1.2);
  padding: 15px;
  border-radius: 16px;
  color: #57ad2c;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.finaly:hover {
  transition: 0.9s;
  box-shadow: 1px 1px 2px 3px #c88e00;
}

@media (max-width: 75rem) {
  .titulo {
    font-size: 16px;
    margin-top: 15px;
  }

  .description1 {
    max-width: 420px;
  }

  .finaly {
    max-width: 445px;
  }
}

@media (max-width: 28rem) {
  .description1 {
    font-size: 14px;
    max-width: 275px;
  }

  .finaly {
    max-width: 310px;
    font-size: 14px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
