.nav {
  display: flex;
  gap: 1.7rem;
  padding: 1.5rem;
  border-radius: 0px 8px 0px 15px;
  background: #5d5d5d;
}

a:hover,
a:focus {
  color: #e9cb26;
}

.nav a:global(.active) {
  color: #e9cb26;
}
