.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
  border-radius: 0px 8px 0px 15px;
  background: #5d5d5d;
}

a:hover,
a:focus {
  color: #ffbb11;
}

.nav a:global(.active) {
  color: #ffbb11;
}

@media (max-width: 75rem) {
  .nav {
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 40rem) {
  .nav {
    border-radius: 8px 8px 0px 0px;
    padding: 1rem;
  }
}
