.anime {
  opacity: 0;
  transform: translateX(-10px);
  animation: animeLeft 0.9s forwards;
}
@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.side_card {
  background-color: #474747;
  width: 290px;
  height: 50rem;
  border: solid 2px #fff;
  border-radius: 8px;
}

.header {
  display: block;
  text-align: center;
}

.header img {
  margin-top: 55px;
}

.header h3 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 35px;
}

button {
  background: #9f9f9f;
  padding: 7px 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}

.header span {
  content: '';
  max-width: 230px;
  height: 2px;
  display: block;
  margin: 0 auto;
  background: #787878;
  border-radius: 8px;
  margin: 40px 40px;
}

.infos {
  display: flex;
  margin-left: 35px;
  align-items: center;
  margin-top: 22px;
  gap: 8px;
}

.infos_name h4 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}
.infos_name p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 10px;
}

.midias {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 21px;
}
