@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

.main {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 1.5rem;
  padding-bottom: 5rem;
}

.container {
  margin-left: 3rem;
  margin-top: 4rem;
  max-width: 61rem;
}

.anime {
  opacity: 0;
  transform: translateX(-10px);
  animation: animeLeft 0.9s forwards;
}
@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.title {
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 2rem;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 4rem;
  height: 0.3rem;
  background: #ffbb11;
  position: absolute;
  bottom: 5px;
  top: 40px;
  border-radius: 0.2rem;
  z-index: -1;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.text {
  margin: 2rem 0rem 0px 3rem;
  max-width: 61rem;
}

.text p {
  font-size: 1rem;
  font-weight: 400;
  color: #cecece;
}

.name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  font-weight: 300;
  color: #cecece;
  margin-right: 10px;
  margin-bottom: 15px;
  text-align: start;
  white-space: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.border_page {
  width: 65rem;
  box-shadow: 2px 2px 7px 1px rgba(1, 1, 1, 1.2);
  border-radius: 8px;
  background: #474747;
}

@media (max-width: 75rem) {
  .main {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    gap: 1rem;
    padding: 1rem;
  }

  .border_page {
    width: 40rem;
  }
}

@media (max-width: 40rem) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .border_page {
    width: 35rem;
  }

  .header {
    flex-direction: column-reverse;
  }

  .text {
    max-width: 29rem;
  }
}

@media (max-width: 28rem) {
  .border_page {
    width: 21.4rem;
  }

  .container {
    margin-left: 2rem;
  }
  .text {
    max-width: 18rem;
    margin: 2rem 0rem 0px 2rem;
  }
}
