@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.main {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 1.5rem;
}

.anime {
  opacity: 0;
  transform: translateX(-10px);
  animation: animeLeft 0.9s forwards;
}
@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.title {
  font-size: 2.5rem;
  line-height: 1.5rem;
  margin: 60px 0px 32px 30px;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 4rem;
  height: 0.3rem;
  background: #e9cb26;
  position: absolute;
  bottom: 5px;
  top: 40px;
  border-radius: 0.2rem;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.page {
  width: 100%;
  max-width: 57rem;
  border: solid 2px #fff;
  border-radius: 8px;
}
